body{
    background: lightblue;

}

.container {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
    position: relative;
    top: 200px;
}


header {
    position: fixed;
    display: inline-flex;
    background-color: blue;
    width: 100%;
    z-index: 1;
}

.nav-link {
float:right;
padding:20px;
margin: 20px;
text-decoration: none;
font-size: 20px;
color: white;
}

#header-img {
    height: 150px;
    width: 150px;
    padding: 20px;
}



@media (max-width: 600px) 
{
  .nav-bar 
   {
    display: none;
   }
}

#learn {
    padding:100px;
    background-color: aliceblue;
}

#news {
    padding:100px;
    background-color: aqua;
}

#adopt {
    padding:100px;
    background-color: aliceblue;
}

.videodesc {
    size: 20px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}